@theme {
    --color-primary: var(--color-blue-500);
    --color-primary-hover: var(--color-blue-600);
    --color-primary-content: var(--color-white);

    --color-secondary: var(--color-green-200);
    --color-secondary-hover: var(--color-green-300);

    --color-base-50: var(--color-white);
    --color-base-100: var(--color-gray-100);
    --color-base-200: var(--color-gray-200);
    --color-base-300: var(--color-gray-300);
    --color-base-content: var(--color-gray-800);

    --color-muted: var(--color-gray-500);
}