@import 'tailwindcss';
/*@import 'highlight.js/styles/a11y-light.css';*/
@plugin "daisyui" {
    themes: all;
}

/* enable default ul>li and ol>li - disabled by tailwindcss by default */
@layer base {
    ul {
        list-style: disc;
        padding-left: 1.5rem;
    }

    ol {
        list-style: decimal;
        padding-left: 1.5rem;
    }
}


/* Menu Active Link */
#menu-styling a.active,
#menu a.active {
    @apply border-b-2;
}

/* Content pages */
div.content a {
    @apply link-primary;
    @apply underline;
    &:hover {
        @apply link-info;
    }
}

div.content p {
    @apply my-3;
}

/* Default header styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight;
    @apply mb-4;
    @apply mt-8;

    &:first-child {
        @apply mt-0;
    }
}
h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
    @apply mt-4;
}

h3 {
    @apply font-bold;
    @apply text-xl;
}

h4 {
    @apply font-bold;
    @apply text-lg;
}

h5 {
    @apply font-bold;
}

h6 {
    @apply italic;
}

/* _base.css */
/*
body {
    font-size: 17px;
}

a {
    @apply font-semibold;
    @apply no-underline;
    @apply link-primary;
    &:hover {
        @apply link-info;
    }
}

a.active {
    @apply border-b-2;
}

a.search-link {
    @apply text-base-content;
}

a.category-link {
    @apply text-neutral-content;

    &:hover {
        @apply text-success;
    }
}

blockquote {
    @apply border-blue-400;
    @apply border-l-4;
    @apply font-normal;
    @apply italic;
    @apply my-8;
    @apply pl-6;
    @apply text-gray-800;
    @apply text-lg;
}

code {
    @apply bg-success;
    @apply text-success-content;
    @apply px-2;
    @apply py-px;
    @apply rounded;
    @apply text-sm;
}

code.hljs {
    @apply bg-transparent;
    @apply p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply font-normal;
        @apply not-italic;
    }
}
header h2 {
    @apply mt-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight;
    @apply mb-4;
    @apply mt-8;

    &:first-child {
        @apply mt-0;
    }
}

h3 {
    @apply font-bold;
    @apply text-xl;
}

h4 {
    @apply font-bold;
    @apply text-lg;
}

hr {
    @apply border-b;
    @apply border-blue-200;
    @apply my-12;
    @apply rounded-full;
}

li {
    ul,
    ol {
        @apply my-0;
        @apply ml-8;
    }
}

ol,
ul {
    @apply my-4;
}

p {
    @apply my-3;
    @apply md:my-6;
}

pre {
    @apply bg-base-300;
    @apply leading-loose;
    @apply my-6;
    @apply overflow-x-auto;
    @apply pt-2;
    @apply rounded;
    @apply shadow;

    code {
        @apply bg-transparent;
        @apply block;
        @apply p-0;
        @apply leading-8;
    }
}

::selection {
    @apply bg-blue-500;
    @apply text-white;
}
/* end _base.css */
/* _navigation.css */
/*
.nav-menu {
    @apply pb-2;
    @apply pt-6;
    @apply px-2;
    @apply shadow;
    @apply w-auto;
}

.nav-menu__item {
    @apply block;
    @apply no-underline;
    @apply mb-4;
    @apply mt-0;
    @apply text-gray-800;
    @apply text-sm;
}

/* end _navigation.css */
/*
@font-face {
    font-family: 'JetBrainsMono';
    src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/font/NunitoSansLatin300.woff2') format('truetype');
}

.content ul > li {
    margin-left: 40px;
}

[x-cloak] { display: none !important; }

:root {
    --font-sans: 'NunitoSans', sans-serif;
    --font-mono: 'JetBrainsMono', monospace;
}

.category-header h1 {
    @apply my-0;
    margin-left: -2px;
}

.category-header p {
    @apply m-0;
}
 */