@import 'tailwindcss';
@import 'highlight.js/styles/a11y-light.css';

@import './_theme_light.css';
@import './_base.css';
@import './_navigation.css';

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/font/NunitoSansLatin300.woff2') format('truetype');
}

.content ul > li {
    margin-left: 40px;
}

[x-cloak] { display: none !important; }

:root {
    --font-sans: 'NunitoSans', sans-serif;
    --font-mono: 'JetBrainsMono', monospace;
}

.category-header h1 {
    @apply my-0;
    margin-left: -2px;
}

.category-header p {
    @apply m-0;
}