@tailwind base;
@tailwind components;
@tailwind utilities;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/a11y-light.css';

@import 'base';
@import 'navigation';


// Setting up Custom fonts
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/assets/font/NunitoSans-Regular.ttf') format('truetype');
}

.content ul > li {
  margin-left: 40px;
}